<div class="alert alert-success">This is a Primary Success Alert!</div>
<div class="alert alert-error">This is a Primary Error Alert!</div>
<div class="alert alert-warning">This is a Primary Warning Alert!</div>
<div class="alert alert-info">This is a Primary Info Alert!</div>

<div class="alert alert-success-sec">This is a Secondary Success Alert!</div>
<div class="alert alert-error-sec">This is a Secondary Error Alert!</div>
<div class="alert alert-warning-sec">This is a Secondary Warning Alert!</div>
<div class="alert alert-info-sec">This is a Secondary Info Alert!</div>
