<div class="avatar avatar-round avatar-xl">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
<div class="avatar avatar-round avatar-lg">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
<div class="avatar avatar-round avatar-md">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
<div class="avatar avatar-round avatar-sm">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>

<div class="avatar avatar-round-bd avatar-xl">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
<div class="avatar avatar-round-bd avatar-lg">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
<div class="avatar avatar-round-bd avatar-md">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
<div class="avatar avatar-round-bd avatar-sm">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>

<div class="avatar avatar-square avatar-xl">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
<div class="avatar avatar-square avatar-lg">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
<div class="avatar avatar-square avatar-md">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
<div class="avatar avatar-square avatar-sm">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
</div>
