<span class="badge-container"
  >This is a Large Text
  <div class="badge badge-square">New</div></span
>
<span class="badge-container"
  >This is a Medium sized Text
  <div class="badge badge-square">New</div></span
>
<span class="badge-container"
  >This is a small Text
  <div class="badge badge-square">New</div></span
>

<div class="avatar avatar-round avatar-xl">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" class="avater" />
  <div class="badge badge-round badge-xl"><span>9</span></div>
</div>
<div class="avatar avatar-round avatar-lg">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" class="avater" />
  <div class="badge badge-round badge-lg"><span>9</span></div>
</div>
<div class="avatar avatar-round avatar-md">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" class="avater" />
  <div class="badge badge-round badge-md"><span>9</span></div>
</div>
<div class="avatar avatar-round avatar-sm">
  <img src="https://picsum.photos/id/64/60/60" alt="avatar" class="avater" />
  <div class="badge badge-round badge-sm"><span>9</span></div>
</div>

<div class="badge-container">
  <img src="../assets/icons/cart.svg" alt="cart" class="icon" />
  <div class="badge badge-round badge-lg"><span>9</span></div>
</div>
<div class="badge-container">
  <img src="../assets/icons/message.svg" alt="message" class="icon" />
  <div class="badge badge-round badge-lg"><span>9</span></div>
</div>
<div class="badge-container">
  <img src="../assets/icons/phone.svg" alt="phone" class="icon" />
  <div class="badge badge-round badge-lg"><span>9</span></div>
</div>
<div class="badge-container">
  <img src="../assets/icons/calender.svg" alt="calender" class="icon" />
  <div class="badge badge-round badge-lg"><span>9</span></div>
</div>
