<button class="btn btn-primary">Primary</button>

<button class="btn btn-secondary">Secondary</button>

<button class="btn btn-link">Link</button>

<button class="btn btn-icon">
  <img src="../assets/icons/heart.svg" alt="heart" />
</button>
<button class="btn btn-icon">
  <img src="../assets/icons/plus.svg" alt="plus" />
</button>
<button class="btn btn-icon">
  <img src="../assets/icons/delete.svg" alt="delete" />
</button>

<button class="btn btn-success">Success</button>
<button class="btn btn-warning">Warming s</button>
<button class="btn btn-error">Error</button>
<button class="btn btn-info">Info</button>

<button class="btn btn-float">Buy</button>
