<div class="card">
  <button class="btn btn-icon">
    <img src="../assets/icons/heart.svg" alt="heart" />
  </button>
  <div class="card-cover">
    <img src="../assets/images/product.jpg" alt="cover" />
  </div>
  <div class="card-title-container">
    <h5 class="card-title">HyperX Cloud Alpha</h5>
    <p class="card-subtitle">Red, Black, On Ear</p>
    <span class="card-price">₹9,645</span>
  </div>
  <div class="rating">
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img
      class="star"
      src="../assets/icons/star-regular.svg"
      alt="rating star"
    />
  </div>
  <div class="card-bottom">
    <button class="btn btn-primary">Add to Cart</button>
  </div>
</div>

<div class="card card-badge">
  <div class="badge badge-square">50% Off</div>
  <button class="btn btn-icon">
    <img src="../assets/icons/heart.svg" alt="heart" />
  </button>
  <div class="card-cover">
    <img src="../assets/images/product.jpg" alt="cover" />
  </div>
  <div class="card-title-container">
    <h5 class="card-title">HyperX Cloud Alpha</h5>
    <p class="card-subtitle">Red, Black, On Ear</p>
    <span class="card-price">₹9,645</span>
  </div>
  <div class="rating">
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img
      class="star"
      src="../assets/icons/star-regular.svg"
      alt="rating star"
    />
  </div>
  <div class="card-bottom">
    <button class="btn btn-primary">Add to Cart</button>
  </div>
</div>

<div class="card card-header">
  <div class="card-title-container">
    <h5 class="card-title">HyperX Cloud Alpha</h5>
    <p class="card-subtitle">Click to view more</p>
  </div>
</div>

<div class="card">
  <button class="btn btn-icon">
    <img src="../assets/icons/menu-close.svg" alt="heart" />
  </button>
  <div class="card-cover">
    <img src="../assets/images/product.jpg" alt="cover" />
  </div>
  <div class="card-title-container">
    <h5 class="card-title">HyperX Cloud Alpha</h5>
    <p class="card-subtitle">Red, Black, On Ear</p>
    <span class="card-price">₹9,645</span>
  </div>
  <div class="rating">
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img
      class="star"
      src="../assets/icons/star-regular.svg"
      alt="rating star"
    />
  </div>
  <div class="card-bottom">
    <button class="btn btn-primary">Add to Cart</button>
  </div>
</div>

<div class="card card-overlay">
  <button class="btn btn-icon">
    <img src="../assets/icons/heart.svg" alt="heart" />
  </button>
  <div class="card-cover">
    <div class="text-overlay">
      <div class="card-title-container">
        <h5 class="card-title">HyperX Cloud Alpha</h5>
        <p class="card-subtitle">Red, Black, On Ear</p>
        <span class="card-price">₹9,645</span>
      </div>
    </div>
    <img src="../assets/images/product.jpg" alt="cover" />
  </div>
  <div class="rating">
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img class="star" src="../assets/icons/star-solid.svg" alt="rating star" />
    <img
      class="star"
      src="../assets/icons/star-regular.svg"
      alt="rating star"
    />
  </div>
  <div class="card-bottom">
    <button class="btn btn-primary">Add to Cart</button>
  </div>
</div>

<div class="card card-horizontal">
  <button class="btn btn-icon">
    <img src="../assets/icons/heart.svg" alt="heart" />
  </button>
  <div class="card-cover">
    <img src="../assets/images/product.jpg" alt="cover" />
  </div>
  <div class="card-content">
    <div class="card-title-container">
      <h5 class="card-title">HyperX Cloud Alpha</h5>
      <p class="card-subtitle">Red, Black, On Ear</p>
      <span class="card-price">₹9,645</span>
    </div>
    <div class="rating">
      <img
        class="star"
        src="../assets/icons/star-solid.svg"
        alt="rating star"
      />
      <img
        class="star"
        src="../assets/icons/star-solid.svg"
        alt="rating star"
      />
      <img
        class="star"
        src="../assets/icons/star-solid.svg"
        alt="rating star"
      />
      <img
        class="star"
        src="../assets/icons/star-solid.svg"
        alt="rating star"
      />
      <img
        class="star"
        src="../assets/icons/star-regular.svg"
        alt="rating star"
      />
    </div>
    <div class="card-bottom">
      <button class="btn btn-primary">Add to Cart</button>
    </div>
  </div>
</div>
