<ul class="spaced-list">
  <li>item1</li>
  <li>item2</li>
  <li>item3</li>
  <li>item4</li>
  <li>item5</li>
</ul>


<ul class="notification-list">
  <li>
    <div class="avatar avatar-round avatar-md">
      <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
    </div>
    1 new message
  </li>
  <li>
    <div class="avatar avatar-round avatar-md">
      <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
    </div>
    1 new message
  </li>
  <li>
    <div class="avatar avatar-round avatar-md">
      <img src="https://picsum.photos/id/64/60/60" alt="avatar" />
    </div>
    1 new message
  </li>
</ul>
