<span class="h1">This is an H1 Heading</span>
<span class="h2">This is an H2 Heading</span>
<span class="h3">This is an H3 Heading</span>
<span class="h4">This is an H4 Heading</span>
<span class="h5">This is an H5 Heading</span>
<span class="h6">This is an H6 Heading</span>

<span class="txt-xl">Extra Large Text</span>
<span class="txt-lg">Large Text</span>
<span class="txt-md">Medium sized Text</span>
<span class="txt-sm">Small Text</span>
<span class="txt-xs">Extra small Text</span>

<span class="txt-underline">Underline</span>
<span class="txt-overline">Overline</span>
<span class="txt-strikethrough">Strikethrough</span>
<span class="txt-highlight">Highlight</span>
<span class="txt-grey">Grey text</span>

<span class="txt-center">This text is centered</span>
